.box {
	text-align: center;
	padding: 90px 0;
}
.welcome {
	h4, h2 {
		font-family: $primary-font;
		font-weight: 700;
	}
	h4 {
		text-transform: uppercase;
		color: #bbc4cb;
		font-size: 15px;
	}
	h2 {
		font-size: 26px;
		font-weight: 500;
		margin-bottom: 50px;
	}
	p {
		margin-bottom: 50px;
		font-weight: 300;
		max-width: 850px;
		@include center;
	}
}

.slider {
	background: $gray-lighter;
}
.newsletter {
	background: $gray-light;
	h3 {
		font-weight: bold;
		font-size: 24px;
	}
	p {
		font-weight: 300;
	}
}

.about {
	p {
		text-align: left;
		font-weight: 300;
	}
	.container {
		max-width: 850px;
	}
}
.offer {
	background: url(images/about.jpg) no-repeat center center;
	background-size: cover;
	padding-bottom: 300px;
	h3 {
		font-weight: bold;
	}
	p {
		font-weight: 300;
		margin-bottom: 60px;
		max-width: 830px;
		@include center;
	}
}



.gray {
	background: lighten($gray-light,4%);
	h3 {
		font-size: 36px;
	}
}
// 768px
@media all and (min-width: $screen-portrait) {
	.box {
		text-align: center;
		padding: 100px 0;
	}
	.newsletter {
		h3 {
			font-size: 38px;
		}
		p {
			font-size: 21px;
			margin-bottom: 53px;
		}
	}
	.offer {
		padding-bottom: 500px;
	}
	
}

// 992px
@media all and (min-width: $screen-landscape) {
	.offer {
		h3 {
			font-size: 50px;
		}
	}
	.newsletter {
		h3 {
			font-size: 50px;
		}
	}
}

// 1200px
@media all and (min-width: $screen-desktop) {
	.offer {
		padding-bottom: 600px;
	}
}