html {
	font-family: $primary-font;
}

a, a:hover, a:active, a:focus {
	color: $link-color;
	text-decoration: none;
	-webkit-transition: all 230ms ease-in-out;
	-moz-transition: all 230ms ease-in-out;
	-ms-transition: all 230ms ease-in-out;
	-o-transition: all 230ms ease-in-out;
	transition: all 230ms ease-in-out;
}
.container {
	padding-left: 15px;
	padding-right: 15px;
	@include border-box;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
.page-template-page-blog,
.search,
.category,
.archive {
	background: $gray-lighter;
	.newsletter {
		margin-top: 120px;
	}
}
.single {
	.button-solid {
		margin-top: 80px;
	}
	.newsletter {
		margin-top: 120px;
	}
}
.margin-bottom-30 {
	margin-bottom: 30px!important;
}
.margin-bottom-60 {
	margin-bottom: 60px!important;
}


// 768px
@media all and (min-width: $screen-portrait) {
	.container {
		@include center;
		max-width: 750px;
	}
}

// 992px
@media all and (min-width: $screen-landscape) {
	.container {
		max-width: 970px;
	}
}

// 1200px
@media all and (min-width: $screen-desktop) {
	.container {
		max-width: 1170px;
	}
	
}

// 1400px
@media all and (min-width: 1400px) {
	.container {
		max-width: 1300px;
	}
}
