$screen-portrait      :  768px;
$screen-landscape     :  992px;
$screen-desktop       :  1200px;
$screen-desktop-big   :  1400px;

$brand-primary        : #5281ac;
$brand-secondary      : #4a4f55;
$dark-primary         : #062d5d;

$primary-font         : 'Roboto', sans-serif;
$secondary-font       : 'Times New Roman', Times, serif;

$gray-lighter         : #fcfcfd;
$gray-light           : #eceff2;
$gray                 : #AAA;
$gray-dark            : #282828;

$text-color           : #525a74;
$link-color           : #5889b5;